/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	html {
		font-size: 62.5%; 
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	strong { font-weight:bold;}
	
	body {position: relative; -webkit-font-smoothing: antialiased; color:#333; }
	body { background:#e3faff url(../images/clouds.png) fixed no-repeat center 0; font-family:Arial, Helvetica, sans-serif;}
	


/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a { color: #19a2d6; text-decoration: none; line-height: inherit; }
	a:hover { text-decoration:underline;}

	

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	



/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
	.left        { float: left; }
	.right       { float: right; }
	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }
	.hide        { display: none; }
	.highlight   { background: #ff0; }
	
	
	
 /* Nicolas Gallagher's micro clearfix */
	 .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	 .row:after, .clearfix:after { clear: both; }
	 .row, .clearfix { zoom: 1; }
	 
	 



/* -------------------------------------------------- 
	Structure
---------------------------------------------------*/

#wrapper { width:1100px; margin:0 auto; padding:110px 0 30px 0; }
#content { width:820px; float:left;}
#sidebar { width:260px; float:left; margin-left:20px;}



/* -------------------------------------------------- 
	Commons
---------------------------------------------------*/
	.left        { float: left; }
	.right       { float: right; }
	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }
	.hide        { display: none; }
	.highlight   { background: #ff0; }
	
	.sufix10 { margin-right:10px;}
	.prefix5 { margin-left:5px;}
	
	.set-top-1 { margin-top:20px;}
	.set-bott-1 { margin-bottom:20px;}
	.set-bott-2 { margin-bottom:5px;}

	#site-decoration { background:url(../images/left-curtain.png) no-repeat fixed 0 0;}
	#site-decoration-content {background:url(../images/right-curtain.png)  no-repeat  fixed right  0;}
	
	/* 5px radius */
	.box-header, .search-input, .sidebar-box, .chat-users-list .status, .item-status, .box-t1, #master-footer, .btn-nice-1, .btn-nice-2, .box-t2, .nice-input, .nice-submit, .nice-textarea, .btn-nice-3, .btn-nice-4
	{ -webkit-border-radius: 5px; border-radius: 5px;}

/* -------------------------------------------------- 
	Header
---------------------------------------------------*/
	#master-header { background:url(../images/master-header-bg.png) repeat-x 0 0; width:100%; height:90px; position:fixed; top:0; left:0; z-index:999;}
	#master-logo { float:left; display:block; padding:10px 25px 10px 20px;}
	#master-nav { float:left;}
	#master-nav ul {border-right:1px solid #4b4f50; font-size:1.7em;}
	#master-nav ul li { float:left; border-left:1px solid #4b4f50;}
	#master-nav ul li a {  display:block; padding:32px 15px 30px 15px;}
	#master-nav ul li.selected a { color:#fefd58; font-weight:bold;}
	#master-nav ul li a:hover { background-color:#232323;}
	#master-header a { text-decoration:none; color:#6acbef; }
	
	.account-info { padding:35px 20px 0 0; float:right; font-size:11px; color:#fff;}
	
	.btn-nice-1 { 
		color:#fff!important; 
		font-weight:bold; 
		padding:12px 10px 12px 10px;
		border:1px solid #9ad312; 
		background: #84bc1a; /* Old browsers */
		background: -moz-linear-gradient(top, #84bc1a 0%, #87bb1a 41%, #82b118 68%, #78a015 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84bc1a), color-stop(41%,#87bb1a), color-stop(68%,#82b118), color-stop(100%,#78a015)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #84bc1a 0%,#87bb1a 41%,#82b118 68%,#78a015 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #84bc1a 0%,#87bb1a 41%,#82b118 68%,#78a015 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #84bc1a 0%,#87bb1a 41%,#82b118 68%,#78a015 100%); /* IE10+ */
		background: linear-gradient(top, #84bc1a 0%,#87bb1a 41%,#82b118 68%,#78a015 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84bc1a', endColorstr='#78a015',GradientType=0 ); /* IE6-9 */
		} 
	
	.btn-nice-1 span { color:#000; font-size:10px; text-transform:uppercase;}

	.btn-nice-2 {
		color:#fff!important;
		font-weight:bold; 
		padding:12px 10px 12px 10px;
		border:1px solid #71d8ff; 
		background: #5ecdf6; /* Old browsers */
		background: -moz-linear-gradient(top, #5ecdf6 0%, #69ccf2 23%, #68c7eb 45%, #54bbe3 68%, #24a7d8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ecdf6), color-stop(23%,#69ccf2), color-stop(45%,#68c7eb), color-stop(68%,#54bbe3), color-stop(100%,#24a7d8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #5ecdf6 0%,#69ccf2 23%,#68c7eb 45%,#54bbe3 68%,#24a7d8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #5ecdf6 0%,#69ccf2 23%,#68c7eb 45%,#54bbe3 68%,#24a7d8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #5ecdf6 0%,#69ccf2 23%,#68c7eb 45%,#54bbe3 68%,#24a7d8 100%); /* IE10+ */
		background: linear-gradient(top, #5ecdf6 0%,#69ccf2 23%,#68c7eb 45%,#54bbe3 68%,#24a7d8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ecdf6', endColorstr='#24a7d8',GradientType=0 ); /* IE6-9 */
		}

/* -------------------------------------------------- 
	Box Types & Headers
---------------------------------------------------*/


	.box-header { 
		border:1px solid #4e89a2;
		margin-bottom:10px;
		height: auto ! important;
		min-height: 48px;
		background: #518ca3; /* Old browsers */
		background: -moz-linear-gradient(top, #518ca3 0%, #6ba5bc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#518ca3), color-stop(100%,#6ba5bc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #518ca3 0%,#6ba5bc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #518ca3 0%,#6ba5bc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #518ca3 0%,#6ba5bc 100%); /* IE10+ */
		background: linear-gradient(top, #518ca3 0%,#6ba5bc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#518ca3', endColorstr='#6ba5bc',GradientType=0 ); /* IE6-9 */ 
	}
	
	.box-title-1 { padding:12px 0 0 15px;}


/* -------------------------------------------------- 
	Tabs
---------------------------------------------------*/
	.tabs-t1 li { float:left;}
	.tabs-t1 li a { display:block; -webkit-border-radius: 5px; border-radius: 5px; color:#ace9ff; font-size:11px; font-weight:bold; padding:7px 10px 8px 10px;  margin-right:5px;}
	.tabs-t1 li.selected a, .tabs-t1 li a:hover { background-color:#b7d0db; color:#397187;}
	.set-tabs-pos { padding:10px 0 0 50px;}


/* -------------------------------------------------- 
	Search
---------------------------------------------------*/
	.search { float:right; padding:5px 5px 0 0;}
	.search-input { background-color:#9cd6e3;  width:242px; height:26px; padding:12px 0 0 8px; float:left;}	
	.search-input input { border:0; background:none; color:#2f677d; font-size:11px; font-family:Arial, Helvetica, sans-serif; width:210px; }
	.search-submit { width:30px; height:32px; background:url(../images/ico-search.png) no-repeat 0 5px; float:left; margin:5px 0 0 -30px;}	
	.search-submit input { width:30px; height:30px; border:0; cursor:pointer; background:none;}	
	

/* -------------------------------------------------- 
	Sidebar - Chat - Online friends - Offline friends
---------------------------------------------------*/
	.sidebar-box { background-color:#1b3945}
	.sidebar-box-content { padding:8px; }
	.sidebar-box a { color:#7ba5ad;}

	.sidebar-box-header { background:#2e4c58; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px;}
	.sidebar-box-header-last { background:#2e4c58; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px;}
	
	.sidebar-link-header { display:block; padding:12px 0 7px 25px; margin-bottom:1px;}
	.sidebar-link-header span { color:#85bd1a; font-size:17px; font-style:italic;}
	a.opened { background:url(../images/ico-arrow-opened.png) no-repeat 8px center; padding-left:23px;}
	a.closed { background:url(../images/ico-arrow-closed.png) no-repeat 10px center; padding-left:23px;}

	.chat-users-list { margin-bottom:5px; /*height:200px; overflow:hidden;*/}
	.chat-users-list .item { height:28px; margin-bottom:6px;}
	.chat-users-list .item .pic { float:left; margin:0 8px 0 0px;}
	.chat-users-list .item .name { font-size:11px; padding:8px 0; display:block;}
	.chat-users-list .status { display:block; width:6px; height:6px; float:right; margin-top:-15px; margin-right:15px;}
	.chat-users-list .item a { display:block;}
	.chat-users-list .item a:hover { background-color:#2e4c58;}

	.chat-users-status { border-top:1px solid #314c57; padding-top:5px; margin-top:5px;}
	.chat-users-status li { font-size:11px; color:#7ba5ad; width:122px; float:left; margin:0 0 7px 0; }
	
	.item-status { display:block; display:block; float:left; width:6px; height:6px; margin:2px 5px 0 0; }
	
	span.ico-group-show, .ico-group-show .status      		{ background:#22dd26; }
	span.ico-webcam-on, .ico-webcam-on .status       		{ background:#ff65d9; }
	span.ico-private-show, .ico-private-show .status        { background:#ff2727; }
	span.ico-webcam-off, .ico-webcam-off .status            { background:#3d0830; }
	span.ico-true-private, .ico-true-private .status        { background:#6abbdb; }
	span.ico-champagne-room, .ico-champagne-room .status    { background:#ffb821; }
	

/* -------------------------------------------------- 
	Model list box
---------------------------------------------------*/

	.box-t1 { padding:5px; border:1px solid #b4d6e3; background:#fff; }
	
	.list-t1 { }
	.list-t1 li { float:left; margin:0 12px 12px 0; }
	
	.thumb-size-1-container { width:246px; height:185px; position:relative; margin:0 0 8px 0;}
	.thumb-size-1-container .thumb-size-1 { display:block; overflow:hidden; width:246px; height:185px; position:relative;}
	.thumb-size-1-container .bg-topic-1 {  width:246px; height:100px; position:absolute; bottom:0; background:url(../images/bg-topic-1.png) repeat-x 0 0; z-index:1;}
	.thumb-size-1-container .title-topic-1 { display:block; font-size:17px; font-style:italic; color:#a7e8ff; line-height:18px; position:absolute; 
												bottom:8px; left:8px; z-index:2; width:220px; text-shadow: 1px 1px 0px #000000; filter: dropshadow(color=#000000, offx=1, offy=1);     
											}
	
	.model-desc { padding:5px 5px 15px 5px;}
	.model-name { font-size:18px; margin:0 0 7px 0;}
	.model-name a { color:#000;}
	.model-stats { font-size:11px; color:#79959f; line-height:15px;}
	
	.btn-view-profile { display:block; width:75px; height:16px; background:url(../images/btn-view-profile.png) no-repeat 0 0; font-size:11px; padding:9px 0 5px 45px; float:left; }
	.btn-view-webcam  { display:block; width:80px; height:16px; background:url(../images/btn-view-webcam.png) no-repeat 0 0; font-size:11px; padding:9px 1px 5px 39px; float:right;}
	
	

	
	#master-footer { border:1px solid #b4d6e3; background:#fff; font-size:11px; padding:20px 15px 10px 20px;}
	#master-footer ul { float:left;}
	#master-footer ul li { float:left; border-right:1px solid #b4d6e3; padding-right:5px; margin-right:5px;}
	#master-footer ul li:last-child { border:0;}
	.copy { float:right; font-size:10px; color:#79959f;}
	.legal-notice {font-size:10px; color:#79959f; border-top:1px solid #b4d6e3; margin-top:10px; background:url(../images/18.png) no-repeat 0 center; padding:10px 0 10px 30px; line-height:15px;}
	
	
	
	
	/*#become_member, #static_login {
		 background: url(../images/become_member_bg.png) no-repeat scroll 0pt 0pt transparent;
		 height: 458px;
		 width: 630px;
	}*/
	
	#become_member .content, #static_login .content {
		 position: relative;
		 z-index: 10;
	}
	
	#become_member .form, #static_login .form {
		 margin-left: 275px;
		 margin-top: 30px;
	}
	
	#become_member .buttons, #static_login .buttons {
		 margin-left: 54px;
		 margin-top: 30px;
	}
	
	.input_helper_line {
		 background: url(../images/line_sep.png) no-repeat scroll center bottom transparent;
		 display: block;
		 height: 16px;
		 width: 100%;
	}
	
	.big_b_btn {
		 background: url(../images/big_b_btn_l.png) no-repeat scroll 0pt 0pt transparent;
		 cursor: pointer;
		 display: inline-block;
		 height: 47px;
		 line-height: 12px;
		 padding: 5px 0px 5px 7px;
		 text-align: center;
		 text-transform: uppercase;
		 vertical-align: top;
	}
	
	.content #filters {
		 margin-bottom: 15px;
		 width: 600px;
	}
	
	.big_b_btn_r {
		 background: url(../images/big_b_btn_r.png) no-repeat scroll 0pt 0pt transparent;
		 cursor: pointer;
		 display: inline-block;
		 height: 47px;
		 margin-right: 10px;
		 width: 7px;
	}
	
	.box-t2 { padding:30px; font-size:15px; line-height:25px; background-color:#fff; border:1px solid #b4d6e3;}
	.box-t2 p { margin:0 0 20px 0;}
	
	.article-title { font-size:25px; color:#fff; padding:12px 8px 0px 15px; text-shadow: 1px 1px 0px #3b6577; filter: dropshadow(color=#3b6577, offx=1, offy=1); font-weight:bold;}
	
	.set-bg-1 { background:#fff url(../images/bg-1.jpg) no-repeat right 0;}
	
	
	.form-line { border-bottom:1px solid #cde8f2; padding:10px 0;}
	.form-left { float:left; text-align:right; width:150px; margin-right:20px; padding-top:7px; font-size:15px;}
	.form-right { float:left; width:550px;}
	.error { background:url(../images/form_check_error.png) no-repeat 0 center; padding:2px 0 0 20px; font-size:11px; color:#F00;}
	
	.nice-input { 	
					padding:10px 5px;
					margin-right:15px;
					font-family:Arial, Helvetica, sans-serif;  
					font-size:12px;
					color:#666; 
					border:1px solid #b4d6e3; 
					background-color:#e3faff;
					-webkit-box-shadow: inset 2px 3px 3px 0px rgba(0, 0, 0, 0.10);
					box-shadow: inset 2px 3px 3px 0px rgba(0, 0, 0, 0.10); 
				}
	.nice-input.medium { width:250px; }
	
	.nice-submit.medium { width:260px; }
	.nice-submit {
		color:#fff; font-size:15px; font-weight:bold;
		border:0;
		height:40px; cursor:pointer; text-align:center; text-align:center; font-weight:bold; font-family:Arial, Helvetica, sans-serif; 
		background: #78a8bb; /* Old browsers */
		background: -moz-linear-gradient(top, #78a8bb 0%, #70a0b2 23%, #528295 77%, #4a7a8c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78a8bb), color-stop(23%,#70a0b2), color-stop(77%,#528295), color-stop(100%,#4a7a8c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #78a8bb 0%,#70a0b2 23%,#528295 77%,#4a7a8c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #78a8bb 0%,#70a0b2 23%,#528295 77%,#4a7a8c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #78a8bb 0%,#70a0b2 23%,#528295 77%,#4a7a8c 100%); /* IE10+ */
		background: linear-gradient(top, #78a8bb 0%,#70a0b2 23%,#528295 77%,#4a7a8c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78a8bb', endColorstr='#4a7a8c',GradientType=0 ); /* IE6-9 */
		-webkit-box-shadow:  1px 1px 0px 0px rgba(87, 87, 87, 1);
			
			box-shadow:  1px 1px 0px 0px rgba(87, 87, 87, 1);
	}
	
	.nice-input select { border:0; background:#e3faff;}
	.nice-input.medium select { width:250px; }
	
	.nice-textarea.medium { width:400px; height:200px;}
	.nice-textarea {padding:10px 5px;
					margin-right:15px;
					border:1px solid #b4d6e3; 
					background-color:#e3faff;
					-webkit-box-shadow: inset 2px 3px 3px 0px rgba(0, 0, 0, 0.10);
					box-shadow: inset 2px 3px 3px 0px rgba(0, 0, 0, 0.10); }
	.nice-textarea textarea { border:0; margin:0; padding:0; overflow:auto; width:400px; height:200px; background:none; font-family:Arial, Helvetica, sans-serif;color:#666; font-size:12px;
					}				
					
					
					
.model-nav { float:right; border-left:1px solid #4b788c; }					
.model-nav li { float:left; border-right:1px solid #4b788c;  border-left:1px solid #72a3b7; }
.model-nav li a { color:#fff; text-shadow: 1px 1px 0px #3b6577; filter: dropshadow(color=#3b6577, offx=1, offy=1); font-size:12px; font-weight:bold; display:block;text-decoration:none; }
.model-nav li a span { display:block;  padding:29px 20px 7px 20px;  }
.model-nav li a:hover,.model-nav li.selected {
	background: #6095ab; /* Old browsers */
	background: -moz-linear-gradient(top, #6095ab 0%, #5c91a7 23%, #4d8299 71%, #477c92 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6095ab), color-stop(23%,#5c91a7), color-stop(71%,#4d8299), color-stop(100%,#477c92)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6095ab 0%,#5c91a7 23%,#4d8299 71%,#477c92 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6095ab 0%,#5c91a7 23%,#4d8299 71%,#477c92 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6095ab 0%,#5c91a7 23%,#4d8299 71%,#477c92 100%); /* IE10+ */
	background: linear-gradient(top, #6095ab 0%,#5c91a7 23%,#4d8299 71%,#477c92 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6095ab', endColorstr='#477c92',GradientType=0 ); /* IE6-9 */
	}
.model-nav li:last-child { border:0; }

.ico-profile span  { background:url(../images/ico-profile.png) no-repeat center 9px;   }
.ico-photos span   { background:url(../images/ico-photos.png) no-repeat center 9px;    }
.ico-videos span   { background:url(../images/ico-videos.png) no-repeat center 7px;    }
.ico-schedule span { background:url(../images/ico-schedule.png) no-repeat center 9px;  }
.ico-contact span  { background:url(../images/ico-contact.png) no-repeat center 9px; }

.profile { padding-top:10px;}
.profile-left-col { width:190px; float:left;}
.profile-right-col { width:610px; float:left; margin-left:18px;}

.btn-nice-3 { 
	display:block;
	font-size:12px;
	color:#fff;
	text-decoration:none!important;
	border:1px solid #317087; 
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	background: #3fa3ca; /* Old browsers */
	background: -moz-linear-gradient(top, #3fa3ca 0%, #379bc2 19%, #1579a1 78%, #0c7097 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fa3ca), color-stop(19%,#379bc2), color-stop(78%,#1579a1), color-stop(100%,#0c7097)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3fa3ca 0%,#379bc2 19%,#1579a1 78%,#0c7097 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3fa3ca 0%,#379bc2 19%,#1579a1 78%,#0c7097 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3fa3ca 0%,#379bc2 19%,#1579a1 78%,#0c7097 100%); /* IE10+ */
	background: linear-gradient(top, #3fa3ca 0%,#379bc2 19%,#1579a1 78%,#0c7097 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa3ca', endColorstr='#0c7097',GradientType=0 ); /* IE6-9 */
}


.btn-nice-4 { 
	display:block;
	font-size:12px;
	color:#fff;
	text-decoration:none!important;
	border:1px solid #6f0a0b; 
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	background: #c44042; /* Old browsers */
	background: -moz-linear-gradient(top, #c44042 0%, #bc383a 20%, #9d1a1b 74%, #920e10 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c44042), color-stop(20%,#bc383a), color-stop(74%,#9d1a1b), color-stop(100%,#920e10)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c44042 0%,#bc383a 20%,#9d1a1b 74%,#920e10 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c44042 0%,#bc383a 20%,#9d1a1b 74%,#920e10 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c44042 0%,#bc383a 20%,#9d1a1b 74%,#920e10 100%); /* IE10+ */
	background: linear-gradient(top, #c44042 0%,#bc383a 20%,#9d1a1b 74%,#920e10 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44042', endColorstr='#920e10',GradientType=0 ); /* IE6-9 */
}

.btn-nice-3 span, .btn-nice-4 span  {display:block; padding: 10px 20px 10px 35px;}
.ico-private-messages { background:url(../images/ico-private-message.png) no-repeat 8px 8px;}
.ico-messages { background:url(../images/ico-message.png) no-repeat 7px 9px;}
.ico-add-friend { background:url(../images/ico-add-friend.png) no-repeat 6px 8px;}
.ico-remove-friend { background:url(../images/ico-remove-friend.png) no-repeat 4px 8px;}
.ico-add-favorite { background:url(../images/ico-add-favorite.png) no-repeat 8px 8px;}

.box-header-2 { background:#d6f5fc; padding:10px 20px 10px 10px; margin-bottom:5px;}

.title1 { font-size:20px;}
.title1 span { font-size:13px;}

.latest-photos {margin-bottom:20px;}
.latest-photos-content { width:605px; margin-left:-7px;}
.latest-photos .thumb { width:114px; height:86px; overflow:hidden; display:block; background-color:#d6f5fc; float:left; margin-left:7px; text-decoration:none;}
.latest-photos .thumb img { width:114px;}
.latest-photos .thumb:hover img { opacity:0.8;}
.latest-photos .last:hover img{ opacity:1!important;}
.latest-photos .last:hover span{ color:#fefd58;}
.latest-photos .last:hover .more-no  {background:url(../images/plus-hover.png) no-repeat 15px 30px;}


.last.thumb { position:relative; }
.more-pics-btn { position:absolute; width:114px; height:86px; display:block; top:0; left:0; background:url(../images/bg-opaque.png); color:#fff; text-align:center;  text-shadow: 1px 1px 0px #000000; filter: dropshadow(color=#000000, offx=1, offy=1);} 
.more-no  { font-size:30px; display:block; font-weight:bold; line-height:25px; padding:25px 0 0 0; background:url(../images/plus.png) no-repeat 15px 30px;}
.more-txt { font-size:18px; line-height:22px;}



.title2 { font-size:12px; font-weight:bold;}
.prefix-1 { margin-left:140px; }

.profile-section {border-top:1px solid #b4d6e3; padding:12px 0 0 0; margin:0 10px 20px 10px;}

.table-t1    { width:100%; border-collapse:collapse; font-size:11px; margin-top:-6px;}
.table-t1 td { border-bottom:1px solid #d4e8ef; padding:9px 12px; }
.table-t1 tr:nth-child(even) {background: #ecfafe}
.table-t1 tr:last-child td { border:0;}
.table-t1 td:last-child  { text-align:right;}

.text-normal { font-size:12px; line-height:20px;}





#photos .photo {
     border: 1px solid #151515;
     float: left;
     margin-right: 5px;
     margin-top: 5px;
     padding: 2px;
     text-align: center;
     width: 150px;
}

#photos .photo:hover {
     border: 1px solid #333333;
}

#photos .photo span {
     display: block;
     margin: 2px 0pt;
}

/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */
    ul.pagination { display: block; height: 24px; margin-left: -5px; }
    ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 15px; margin-left: 5px; }
    ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; }
    ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px #00a6fc; color: #141414; }
    ul.pagination li.unavailable a { cursor: default; color: #999; }
    ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { border-bottom: none; }
	

.box-header-3 { border-bottom:3px solid #b4d6e3; font-size:16px; padding: 10px 0 10px; margin:0 10px 20px 10px;}	

.photo-item { padding:5px; background:#fff; margin:0 0 10px 15px; float:left;}


.photo-item .thumb { position:relative; display:block; width:160px;}
.photo-item .thumb:hover { opacity:0.8;}
.photo-item .thumb img { border:1px solid #b4d6e3; padding:3px; background:#fff; position:relative; z-index:1;}
.photo-item-decoration { background:url(../images/bg-thumb.png) no-repeat 0 0; width:185px; height:50px; margin:-32px 0 0 -15px;}
.photo-desc { text-align:center; font-size:11px; margin-top:-10px; height:20px;}
.ico-play { width:49px; height:49px; background:url(../images/play-thumb.png) no-repeat 0 0; display:block; position:absolute; z-index:2; bottom:30%; left:33%; }



.table-t2 { border-collapse:collapse; font-size:12px; width:100%;}
.table-t2 tr:first-child td { background:#d6f5fc; font-weight:bold;}
.table-t2 tr td:first-child  { background:#d6f5fc; font-weight:bold;}
.table-t2 td {padding:5px; border:1px solid #b4d6e3;}
.table-t2 td.selected { background:#22dd26; border-color:#fff;}


.small-form .form-left { width:90px;}
.small-form .form-right { width:430px;}
.small-form .error { clear:left; width:500px; float:left; display:block; padding-top:5px; padding-bottom:5px; margin-top:5px; }


.clock { padding:0 0 0 8px;}
.clock .left-part, .clock .right-part { width:88px; height:80px; background:url(../images/clock.png) no-repeat 0 0; position:relative; float:left;}
.time-decoration {width:76px; height:4px; position:absolute; top:32px; left:6px; background:url(../images/time-decoration.png) no-repeat 0 0; z-index:1;}
.time-no { font-size:55px; font-weight:bold;  font-weight:bold; color:#fff; text-shadow: 1px 1px 3px #000000; filter: dropshadow(color=#000000, offx=1, offy=1); width:80px; height:72px; padding:9px 0 0 2px; text-align:center; line-height:50px;}
.time-desc { font-size:10px; text-align:center; width:80px;  text-transform:uppercase; padding-left:3px;}

.clock-title-1 { font-size:17px; font-weight:bold; padding-bottom:7px;}
.color-1 { color:#f12b2e;}

.my-account { float:right; padding-right:20px;}
.my-account ul { display:block; background-color:#404344; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; padding:5px 10px 5px 10px;}
.my-account ul { font-size:11px;}
.my-account ul li { float:left; padding:0 7px; border-right:1px solid #6e7e83;}
.my-account ul li:last-child { border:0; padding-right:0;}
.my-account ul li a { display:block; padding-top:3px; padding-bottom:3px; }
.my-account ul li a span { color:#fff;}

.my-account .ico-account { background:url(../images/ico-profile-1.png) no-repeat 0 0; padding-left:22px;} 
.my-account .chips-status { text-align:right; font-size:12px; color:#ffd666; padding-top:10px;}
.my-account .chips-status span { font-weight:bold; font-size:15px; background:url(../images/ico-coin.png) no-repeat 0 0; padding-left:19px;}
.my-account .chips-status a { text-decoration:underline!important;}
.my-account .chips-status a:hover { text-decoration:none!important;}

.rate { padding:8px 0 5px 0;}
.rate div { float:left; padding-right:2px; font-size:12px; padding-top:2px;}
.vote {display:block; width:17px; height:16px; float:left;}
.vote-off {  background:url(../images/ico-stars.png) no-repeat 0 0;}
.vote-on {  background:url(../images/ico-stars.png) no-repeat -17px 0;}

.score { float:left; font-size:15px;  text-shadow: 1px 1px 0px #3b6577; filter: dropshadow(color=#3b6577, offx=1, offy=1); color:#fff; font-style:italic; padding-top:20px;}
    
    
/*  styles for the unit rater     */
#ratingblock {
	display:inline;
	width:75px;
	height:15px;
}
#ratingblock .loading {
	height: 15px;
	background: url('../images/working.gif') 50% 50% no-repeat;
	}
	
#ratingblock .unit-rating { /* the UL */
	display:block;
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 15px;
	position: relative;
	background: url('../images/starrating.gif') top left repeat-x;
	overflow:hidden;
	float:left;	
	}

#ratingblock .unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
#ratingblock .unit-rating li a {
	outline: none;
	display:block;
	width:15px;
	height: 15px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
#ratingblock .unit-rating li a:hover{
	background: url('../images/starrating.gif') left center;
	z-index: 2;
	left: 0px;
	}

#ratingblock .unit-rating a.r1-unit{left: 0px;}
#ratingblock .unit-rating a.r1-unit:hover{width:15px;}
#ratingblock .unit-rating a.r2-unit{left:15px;}
#ratingblock .unit-rating a.r2-unit:hover{width: 30px;}
#ratingblock .unit-rating a.r3-unit{left: 30px;}
#ratingblock .unit-rating a.r3-unit:hover{width: 45px;}
#ratingblock .unit-rating a.r4-unit{left: 45px;}	
#ratingblock .unit-rating a.r4-unit:hover{width: 60px;}
#ratingblock .unit-rating a.r5-unit{left: 60px;}
#ratingblock .unit-rating a.r5-unit:hover{width: 75px;}
#ratingblock .unit-rating a.r6-unit{left: 75px;}
#ratingblock .unit-rating a.r6-unit:hover{width: 90px;}
#ratingblock .unit-rating a.r7-unit{left: 90px;}
#ratingblock .unit-rating a.r7-unit:hover{width: 105px;}
#ratingblock .unit-rating a.r8-unit{left: 105px;}
#ratingblock .unit-rating a.r8-unit:hover{width: 120px;}
#ratingblock .unit-rating a.r9-unit{left: 120px;}
#ratingblock .unit-rating a.r9-unit:hover{width: 135px;}
#ratingblock .unit-rating a.r10-unit{left: 135px;}
#ratingblock .unit-rating a.r10-unit:hover{width: 150px;}

#ratingblock .unit-rating li.current-rating {
	background: url('../images/starrating.gif') left -30px;
	position: absolute;
	height: 15px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}

#ratingblock .voted {color:#e66900;}
#ratingblock .thanks {color:#36AA3D;}
#ratingblock .static {color:#5D3126;}