<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on

        RewriteRule ^room/emoticonsData.xml                        emoticonsData.xml		[L]      
        RewriteRule ^room/emoticons/(.*).swf                       assets/emoticons/$1.swf	[L]
		RewriteRule ^room/(.*)/(.*).swf                  		   assets/emoticons/$2.swf	[L]
		RewriteRule ^room/(.*)/(.*).xml                            $2.xml					[L]
        
        RewriteRule ^studio/performer/(.*).xml                     $1.xml					[L]
        		
		RewriteRule ^studio/performers/spy/emoticonsData.xml       emoticonsData.xml		[L]				
		RewriteRule ^studio/performers/spy/emoticons/(.*).swf      assets/emoticons/$1.swf	[L]
		RewriteRule ^studio/performers/spy/(.*).xml                $1.xml					[L]
        RewriteRule ^studio/(.*).xml                               $1.xml					[L]
		
		RewriteRule ^performer/emoticons/(.*).swf					assets/emoticons/$1.swf	[L]		
		RewriteRule ^performer/(.*).xml								$1.xml					[L]
		
		RewriteRule ^admin/performers/spy/emoticonsData.xml			emoticonsData.xml 		[L]
		RewriteRule ^admin/performers/spy/emoticons/(.*).swf		assets/emoticons/$1.swf	[L]      
		RewriteRule ^studio/performers/spy/(.*).xml                $1.xml					[L]		
		
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d

        RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>


<IfModule mod_php5.c>
        php_value upload_max_filesize 1024M
        php_value post_max_size 32M
        php_value memory_limit 1024M
        php_value max_input_time 200

        php_flag register_globals 0	
</IfModule>