.widefat {
	border: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.widefat * {
	word-wrap: break-word;
	border-bottom: #CCCCCC;
}

.widefat a {
	text-decoration: none;
}

.widefat td,
.widefat th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 11px;
	vertical-align: text-top;
}

.widefat td {
	padding: 3px 7px;
	vertical-align: top;
}

.widefat td p,
.widefat td ol,
.widefat td ul {
	font-size: 11px;
}

.widefat th {
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
}

.widefat th input {
	margin: 0 0 0 8px;
	padding: 0;
	vertical-align: text-top;
}

.widefat .check-column {
	width: 2.2em;
	padding: 0;

}

.widefat tbody th.check-column {
	padding: 7px 0 22px;
}

.widefat .num,
.column-comments,
.column-links,
.column-posts,
.column-parent {
	text-align: center;
}

.widefat th#comments {
	vertical-align: middle;
}

.alternate,
.alt {
	background-color: #f9f9f9;
}

.stuffbox h3 {
	background: #dfdfdf url(gray-ultra-light-grad.png) repeat-x left top;
	text-shadow: #FFFFFF 0 1px 0;
}

.widefat thead tr th,
.widefat tfoot tr th,
h3.dashboard-widget-title,
h3.dashboard-widget-title span,
h3.dashboard-widget-title small,
.find-box-head {
	color: #333;
	background: #dfdfdf url(gray-ultra-light-grad.png) repeat-x scroll left top;
}

.widefat tfoot tr th {
	color: #333;
	background: #dfdfdf url(gray-ultra-grad-light-rotate.png) repeat-x scroll left top;
}

.widefatBlueLight {
	background-color: #F7F7F7;
}

.widefatBlueDark {
	background-color: #EFEFEF;
}

.widefatBlueHover {
	background-color: #EBEBEB;
}
